* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .suminfo {
    text-align: center;
  }
  
  .counter {
    background-color: rgb(0, 253, 236);
    display: flex;
    align-items: baseline;
    height: 80px;
    width: 300px;
    margin: 1rem auto;
    text-align: center;
    padding: 10px;
    border: 1px dashed;
  }
  
  .counter > * {
    height: 100%;
    flex: 1;
    font-size: 24px;
  }
  
  .text-center {
    padding: 8px;
    text-align: center;
    display: block;
    margin: auto;
  }